<% # View for creating a new article %>

<% # If no user is logged in, show a message to sign in or sign up %>
<% unless Current.user %>
  <p>You need to have an account to perform this action.</p>
  <span>Please</span>
  <span>
    <%= link_to "Sign in", sign_in_path, class:"text-decoration-none link-warning fs-5" %>
    if you already have an account or
  </span>
  <span >
    <%= link_to "Sign up", sign_up_path, class:"text-decoration-none link-warning fs-5" %>
    to create an account.
  </span>
<% else %>
  <h1>New article</h1>

  <%= render "form", article: @article %>

  <div class="d-flex justify-content-center">
    <%= link_to "Back to articles", articles_path, class:"text-decoration-none link-secondary" %>
  </div>
<% end %>
