<h1>Register</h1>

<%= render "form", user: @user %>

<div class="d-flex justify-content-end mt-4">
  <%= button_to "Back to articles", articles_path, method: :get, class:"btn btn-secondary flex-fill" %>
</div>
